@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
    font-family: BrownSugar;
    src: url(../fonts/Brown\ Sugar.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fdfaf4;
    font-size: 18px;
    font-family: Nunito Sans;
}

h2 {
    font-family: BrownSugar;
    font-size: 35px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #000;
    font-family: Nunito Sans;
}

ul {
    list-style-type: none;
}

.button {
    background-color: #9b5634;
    width: fit-content;
    padding: 4px 15px;
    border-radius: 4px;
    font-family: Nunito Sans;
    text-transform: uppercase;
    color: #fdfaf4;
    cursor: pointer;

}

.button:hover {
    border: #9b5634 solid 2px;
    color: #9b5634;
    background-color: #ebc5b3;
    padding: 2px 13px;
    transition-duration: 0.4s;
}

/* ---- NAVBAR ---- */
.nav-container {
    width: 100vw;
    position: relative;
    padding: 20px 0px 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.nav {
    width: 100%;
    max-width: 1389px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.logo {
    font-family: BrownSugar, Verdana;
    font-size: 40px;
    padding-left: 20px;
    cursor: pointer;
}

.nav-links ul {
    display: flex;
}

.nav-links li {
    text-transform: uppercase;
    padding: 20px;
}

.nav-links li a:hover {
    color: #c38d5f;
}

.hamburger {
    position: absolute;
    right: 30px;
    display: none;
    width: 34px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 4px 0px;
    border-radius: 5px;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-11px, 6px);
    background-color: #000;
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-7px, -4px);
    background-color: #000;
}

.mobile-nav-container {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    left: 100%;
    padding: 30px 0px;
    z-index: 98;
    background-color: #fdfaf4;
    margin-top: 70px;
    transition: 0.4s;
}

.mobile-nav-container.is-active {
    display: none;
}


@media (max-width: 902px) {
    .nav {
        justify-content: space-between;
    }

    .nav-links li {
        text-transform: uppercase;
        padding: 20px 15px;
    }
}

@media (max-width: 794px) {
    .hamburger {
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        display: none;
        width: 100%;
        background-color: #fdfaf4;
    }

    #nav-list li {
        text-align: center;
        text-transform: uppercase;
        padding: 30px 0px;
    }

    #nav-list li a:hover {
        color: #c38d5f;
        transition-duration: .2s;
    }

    .mobile-nav-container.is-active {
        left: 0px;
        display: block;
        transition: 0.4s;
    }

    .mobile-nav-container.toggle-back {
        left: 500px;
        transition: 0.4s;
    }
}

/* HEADER */
.hero-bkg {
    width: 100vw;
    background-color: #ebc5b3;
    max-height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}

.hero-images {
    display: flex;
    width: 100%;
    max-width: 600px;
}

.hero-img1 img {
    margin-top: -30px;
    width: 100%;
    max-height: 470px;
}

.hero-img2 img {
    margin-top: 50px;
    width: 100%;
    max-height: 470px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: #fff 10px solid;
}

#img2 {
    margin-left: -190px;
}

.hero-text {
    margin: 50px 0px;
    padding: 0px 50px;
    max-width: 450px;
}

.hero-text p {
    margin: 25px 0px;
}

@media (max-width: 1151px) {
    .hero-bkg {
        justify-content: center;
        max-height: 400px;
    }

    .hero-text {
        max-width: 600px;
        margin-top: 25px;
    }

    .hero-images {
        max-width: 400px;
        height: auto;
    }

    .hero-img1 img {
        width: auto;
        max-height: 370px;
    }

    .hero-img2 img {
        width: auto;
        max-height: 370px;
    }

    .hero-text {
        max-width: 300px;
    }
}

@media (max-width: 850px) {
    .hero-bkg {
        max-height: fit-content;
    }

    .hero-text {
        max-width: 500px;
        text-align: center;
        margin-top: 40px;
    }

    #header-button {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 426px) {
    .hero {
        height: auto;
    }

    #img2 {
        margin-left: -205px;
    }

    .hero-text {
        margin: 40px;
        text-align: left;
        padding: 0px 10px;
    }
}

@media (max-width: 377px) {
    .hero-img1 img {
        width: auto;
        max-height: 335px;
    }

    .hero-img2 img {
        width: auto;
        max-height: 335px;
    }

}

/* CATEGORIES */
.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 150px 0px;
}

.cat-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
    align-items: center;
    cursor: pointer;
}

.cat-container:hover {
    opacity: 0.85;
    transition: .5s;
}

.cat-img img {
    max-height: 250px;
    margin: 30px;
}

.cat-opt {
    font-family: Nunito Sans;
    z-index: 50;
    text-transform: uppercase;
    position: absolute;
    z-index: 8;
    grid-area: overlap;
    justify-self: center;
    background-color: #ebc5b3;
    padding: 8px 15px;

}


@media (max-width: 930px) {
    .categories {
        margin: 50px 0px;
    }

    .cat-img img {
        max-height: 200px;
    }
}

@media (max-width: 780px) {
    .cat-img img {
        max-width: 150px;
        margin: 15px;
    }
}

@media (max-width: 560px) {
    .categories {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .cat-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-height: 100px;
        margin: 0px;
    }

    .cat-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .cat-img img {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }

    .cat-opt {
        font-size: 13px;

    }
}


/* ABOUT ME */
.about-me {
    width: 100vw;
    background-color: #9b5634;
}

.about-bgk {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding: 50px 0px;
}

.about-text {
    max-width: 450px;
    margin: 35px 50px;
    color: white;
}

.about-text p {
    margin: 25px 0px;
    max-width: 400px;
}

.about-text .button {
    background-color: #fff;
    color: #9b5634;
}

.about-text .button:hover {
    background-color: #9b5634;
    color: #fff;
    border: #fff solid 2px;
}

.about-images {
    margin-right: 50px;
    display: flex;
    justify-content: end;
}

.about-images img {
    width: 330px;
    height: auto;
    border: #fff 7px solid;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
}

@media (max-width: 907px) {
    .about-text {
        max-width: 300px;
    }

    .about-images {
        margin-left: 0px;
    }

    .about-images img {
        width: 250px;
        height: auto;
    }

}

@media (max-width: 674px) {
    .about-bgk {
        justify-content: center;
    }

    .about-text {
        text-align: center;
        margin-bottom: 0px;
        max-width: 350px;
    }

    .about-images {
        margin-left: 50px;
    }

    #button-small-device {
        display: flex;
        justify-content: center;
    }

}



/* FEATURED POSTS */
.feat-post {
    width: 100vw;
    height: auto;
    margin: 90px 0px;
}

.feat-post h2 {
    text-align: center;
    padding: 0px 10px;
}

.post-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.post {
    max-width: 200px;
    margin: 10px 20px;
}

.post-image img {
    width: 100%;
    max-height: 200px;
    cursor: pointer;
}

.post-content h3 {
    cursor: pointer;
}

.post-content h5 {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    margin: 5px 0px;
}

.post-content p {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.post-content span {
    cursor: pointer;
    color: #e7b7a0;
    align-content: right;
}


@media (max-width: 720px) {
    .post-container {
        padding: none;
    }
}

@media (max-width: 480px) {
    .feat-post {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feat-post h2 {
        max-width: 300px;
    }
}



/* INFORMATION BOX */
.info {
    width: 100vw;
    height: auto;
    margin-top: 200px;
}

.info-bkg {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}

.info-img1 img {
    max-height: 470px;
}

.info-img2 img {
    margin-top: 50px;
    width: 100%;
    max-height: 470px;
    border-top-left-radius: 47.5%;
    border-top-right-radius: 47.5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: #9b5634 10px solid;
}

.info-text {
    margin: 50px 0px;
    padding: 0px 50px;
}

#info-button .button:hover {
    background-color: #fdfaf4;
}

@media (max-width: 1151px) {
    .info-bkg {
        flex-wrap: nowrap;
    }

    .hero-images {
        margin-left: 50px;
    }

    .info-img1 img {
        max-height: 350px;
    }

    .info-img2 img {
        width: fit-content;
        height: 350px;
    }

    .info-text {
        max-width: 300px;
    }
}

@media (max-width: 750px) {
    .info-img1 img {
        width: auto;
        max-width: 229px;
        height: 320px;
    }

    .info-img2 img {
        width: auto;
        max-width: 230px;
        height: 300px;
    }
}

@media (max-width: 674px) {
    .info-bkg {
        flex-direction: column;
        justify-content: center;
    }

    .hero-images {
        justify-content: center;
        margin-left: 0px;
    }

    .info-img2 {
        margin-left: -150px;
    }

    .hero-text {
        text-align: center;
        margin: 40px 15px;
    }

    #info-button {
        display: flex;
        justify-content: center;
    }
}

/* SUBSCRIBE */
.subsc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    padding: 50px;
    background-color: #ebc5b3;
    flex-wrap: wrap;
}

.sub-images {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-img1 img {
    width: 100%;
    max-height: 300px;
}

.sub-img2 img {
    width: 100%;
    max-height: 250px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: #fff 8px solid;
}

.sub-img2 {
    margin-left: -100px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.form p {
    max-width: 440px;
    margin: 10px 0px;
}

#name {
    width: 100%;
    font-size: 18px;
    font-family: Nunito Sans;
    outline: none;
    border: #9b5634 solid 1.5px;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 5px 0px;
    background-color: #ebc5b3
}

#email {
    width: 100%;
    font-size: 18px;
    font-family: Nunito Sans;
    outline: none;
    border: #9b5634 solid 1.5px;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 5px 0px;
    background-color: #ebc5b3;
}

#name::placeholder {
    color: #000;
}

#email::placeholder {
    color: #000;
}

.form .button {
    margin: 10px 0px;
}

@media (max-width: 1030px) {
    .subsc {
        flex-direction: column;
    }

    .form {
        margin-left: 0px;
        margin-top: 50px;
    }
}


/* LAST IG POSTS */
.insta {
    margin: 70px 0px 120px 0px;
}

.insta h2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
}

.posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.igpost {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    cursor: pointer;
}

@media (max-width: 1140px) {
    #lastpost {
        display: none;
    }
}

@media (max-width: 484px) {
    .sub-div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .insta-title {
        padding: 0px 20px;
    }
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #ebc5b3;
    flex-wrap: wrap-reverse;
}

.copywrite {
    text-transform: uppercase;
    font-size: 11px;
}

.privacy {
    text-transform: uppercase;
    font-size: 11px;
    margin: 0px 30px;
    cursor: pointer;
}

.privacy:hover {
    color: #9b5634;
    transition: .4s;
}

.footer .logo {
    margin: 30px 50px;
}

.mediaicons i {
    margin-left: 10px;
}

.mediaicons i:hover {
    color: #9b5634;
    transition: .4s;
}

.priv-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 837px) {
    .footer {
        flex-direction: column-reverse;
    }
}

@media (max-width: 335px) {
    .privacy {
        margin-bottom: 10px;
    }
}