@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap');

@font-face {
    font-family: Ethereal;
    src: url(../fonts/Ethereal-Thin.otf);
}

@font-face {
    font-family: BrownSugar;
    src: url(../fonts/BrownSugar.ttf);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #dbf1fc;
}

::-webkit-scrollbar-thumb {
    background: #68bfed;
    border-radius: 8px;
}

@supports (scrollbar-color: #68bfed #dbf1fc) {
    * {
        scrollbar-color: #68bfed #dbf1fc;
        scrollbar-width: auto;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: Ethereal;
}

a {
    text-decoration: none;
    font-family: 'Nunito Sans';
    color: black;
}

p {
    font-family: 'Nunito Sans';
}

.nav-back {
    background-color: #fef4ff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 0;
    color: black;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    width: 100%;
}

.navbar h2 {
    color: black;
    font-family: BrownSugar;
    font-size: 50px;
    opacity: 0.7;
}

.nav-links {
    display: flex;
}

.nav-links p {
    text-transform: uppercase;
    padding-left: 60px;
}

.nav-links p:first-of-type {
    padding-left: 0;
}

.nav-links a {
    color: black;
    box-shadow: inset 0 0px #68bfed;
    transition: ease-in-out .3s;
}

.nav-links a:hover {
    box-shadow: inset 0 -10px #68bfed;
}

.hamburger {
    position: absolute;
    right: 30px;
    display: none;
    width: 30px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 3.5px;
    background-color: black;
    margin: 6px 0px;
    border-radius: 30px;
    transition: 0.4s;
    transition: ease-in-out 0.4s;
    margin-left: auto;
}

.hamburger:after {
    width: 70%;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-7px, 5px);
    background-color: black;
}

.hamburger.is-active .bar {
    width: 0;
}

.hamburger.is-active::after {
    width: 100%;
    transform: rotate(45deg) translate(-8px, -5px);
    background-color: black;
}

@media (max-width: 600px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        position: fixed;
        display: block;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 3;
        padding-top: 80px;
        transition: ease-in-out 0.4s;
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
        backdrop-filter: blur(15px); /* Fallback for supporting browsers */
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-links p {
        margin: auto;
        text-align: center;
        margin-top: 30px;
        padding-left: 0;
    }

    .navbar a:hover {
        box-shadow: inset 0 0px #68bfed;
        opacity: 0.8;
    }
}

.container-text {
    background-color: #fef4ff;
    padding: 70px 10%;
}

.container-text h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.container-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.container-text .cont-text {
    max-width: 1300px;
    margin: auto;
}

@media (max-width: 500px) {
    .container-text {
        padding: 50px 20px;
    }

    .navbar {
        padding: 25px 20px 0;
    }
}

.footer {
    width: 100%;
    padding: 100px 0 50px;
    max-width: 1300px;
    margin: auto;
}

.footer div {
    justify-self: center;
    padding: 0 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer b {
    color: #68bfed;
}

.footer a {
    transition: ease-in-out .2s;
}

.footer a:hover {
    opacity: 0.7;
}

@media (max-width: 550px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        margin: auto;
    }

    .footer-title {
        margin-top: 50px;
        box-sizing: unset;
    }

    .footer {
        padding: 10px 0 50px;
    }
}

.scroll-to-top-button {
    position: fixed;
    bottom: 10px;
    right: 5px;
    display: none;
    z-index: 99;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.arrow {
    position: relative; /* Changed position to 'relative' */
    display: inline-block; /* Changed display to 'inline-block' */
    width: 30px;
    height: 30px; /* Added height */
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.arrow::after,
.arrow::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: black;
    border-radius: 30px;
    transition: 0.4s;
    transition: ease-in-out 0.4s;
}

.arrow::before {
    top: 50%;
    transform: translate(-65%, -50%) rotate(-45deg); /* Adjusted rotation and translation */
}

.arrow::after {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg); /* Adjusted rotation and translation */
}

.scroll-to-top-button.show {
    display: block;
}

body {
    overflow-x: hidden;
}