@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400&display=swap');

@font-face {
    font-family: 'MyType';
    src: url(../fonts/Kingthings_Trypewriter_2.ttf);
}

@font-face {
    font-family: 'Realtime';
    src: url('../fonts/realtimedemo-regular-webfont.woff2') format('woff2'),
        url('../fonts/realtimedemo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    max-width: 1355px;
    margin: 0 auto !important;
    float: none !important;
    background-color: var(--primary-color);
    padding: 0px;
    margin: 0px;
    font-family: Source Code Pro;
}

h2 {
    font-family: Realtime;
    margin: 0px 0px;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

p {
    color: var(--secondary-color);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --hightlight-color: rgb(255, 140, 40);
    --scrollbar-background: rgb(28, 28, 28);
}

.inverted-theme {
    --primary-color: #fff;
    --secondary-color: #000;
    --hightlight-color: #17aac8;
    --scrollbar-background: #d8dfe0;
}

/* ---- SCROLLBAR ---- */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background: var(--hightlight-color);
    border-radius: 8px;
}

@supports (scrollbar-color: var(--hightlight-color) rgb(255, 229, 206)) {
    * {
        scrollbar-color: var(--hightlight-color) rgb(255, 229, 206);
        scrollbar-width: auto;
    }
}


/* ---- NAVBAR ---- */
.nav-container {
    position: relative;
    padding: 20px 0px 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    max-width: 1329px;
}

.nav-items ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-items ul li {
    margin: 0px 30px;
    text-transform: uppercase;
    transition-duration: .5s;
}

.nav-items ul li:hover {
    box-shadow: inset 0 -8px var(--hightlight-color);
    transition-duration: .5s;
}

.hamburger {
    position: absolute;
    right: 30px;
    display: none;
    width: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--hightlight-color);
    margin: 6px 0px;
    border-radius: 5px;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-7px, 5px);
    background-color: var(--hightlight-color);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-6px, -5px);
    background-color: var(--hightlight-color);
}


.mobile-nav-container {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    left: 100%;
    z-index: 98;
    background-color: var(--primary-color);
    margin-top: 70px;
    transition: 0.4s;
}

.mobile-nav-container.is-active {
    display: none;
}

#toggleColors {
    position: absolute;
    padding: 5px 15px;
    left: 15px;
    top: 15px;
    border-radius: 50%;
    cursor: pointer;
}

#toggleColors p {
    text-transform: capitalize;
    font-size: 15px;
    /* text-align: center; */
    font-family: Realtime;
    color: var(--hightlight-color);
}

@media (max-width: 512px) {
    .hamburger {
        display: block;
    }

    .nav-items {
        display: none;
    }

    .mobile-nav-container ul li {
        text-align: center;
        text-transform: uppercase;
        padding: 12px;
    }

    .mobile-nav-container ul li:hover {
        color: var(--hightlight-color);
        transition-duration: .2s;
    }

    .mobile-nav-container.is-active {
        left: 0px;
        display: block;
        transition: 0.4s;
    }

    .mobile-nav-container.toggle-back {
        left: 500px;
        transition: 0.4s;
    }
}



/* HEADER */

.header-container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.header-text-container {
    margin-left: 30px;
    margin-top: 160px;
}

.header-text-container h2 {
    font-size: 80px;
    margin-left: 40px;
}

.header-smile {
    position: absolute;
    top: 100px;
    right: 500px;
}

.header-smile i {
    font-size: 150px;
    color: var(--hightlight-color);
}

.header-smile {
    display: flex;
    margin-right: 100px;
}

.code-text-background {
    margin-right: 30px;
    max-width: 370px;
    position: absolute;
    text-align: right;
    right: 0;
    top: 0;
    opacity: 60%;
}

.text {
    color: var(--hightlight-color);
    overflow-y: hidden;
    height: 530px;
    font-size: 13px;
}

.code-text-background.blue-opacity {
    opacity: 45%;
}

#cover-up {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    box-shadow: inset 0px 80px 60px -50px var(--primary-color), inset 0px -130px 60px -50px var(--primary-color);
}

@media (max-width: 1061px) {
    .header-text-container {
        margin-top: 90px;
        margin-left: 0px;
    }

    .header-text-container h2 {
        font-size: 60px;
        margin-top: 10px;
        margin-left: 75px;
    }

    .header-smile {
        top: 80px;
        right: 400px;
    }

    .header-smile i {
        font-size: 100px;
    }

    .code-text-background {
        height: 450px;
        overflow: hidden;
    }

}

@media (max-width: 886px) {
    .header-text-container h2 {
        margin-left: 50px;
        margin-right: 50px;
    }

    .header-smile {
        right: 100px;
    }
}


@media (max-width: 586px) {
    .header-text-container {
        margin-top: 60px;
    }

    .header-smile {
        top: 80px;
        right: 10px;
    }

    .header-text-container h2 {
        max-width: 350px;
    }

    .header-smile i {
        font-size: 100px;
    }
}

@media (max-width: 500px) {

    .code-text-background {
        max-width: 200px;
        opacity: 35%;
        height: 350px;
        overflow: hidden;
    }

    .header-text-container {
        margin-top: 50px;
    }

    .header-text-container h2 {
        font-size: 45px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .header-smile {
        top: 40px;
    }

    .header-smile i {
        font-size: 70px;
    }

    #cover-up {
        height: 350px;
        box-shadow: inset 0px 80px 60px -50px var(--primary-color), inset 0px -120px 30px -50px var(--primary-color);
    }
}

@media (max-width: 367px) {
    .header-smile {
        right: 50px;
        margin-right: 0px;
    }
}




/* ---- ABOUT ME TEXT ---- */

.about-me-text {
    padding: 150px 0px;
    display: flex;
    font-size: 25px;
}

.about-me-text-left {
    padding-left: 75px;
    padding-right: 30px;
}

.about-me-text-right {
    padding-right: 75px;
    padding-left: 30px;
}

.about-me-text-left p, .about-me-text-right p {
    margin: 0px 0px 20px;
}

@media (max-width: 869px) {
    .about-me-text {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .about-me-text-right,
    .about-me-text-left {
        padding: 0px 50px;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .about-me-text {
        padding-top: 100px;
    }

    .about-me-text-right,
    .about-me-text-left {
        padding: 0px 30px;
    }
}

/* ---- SKILLS ---- */
.skills-container {
    padding-bottom: 100px;
}

.skills-text {
    display: flex;
    justify-content: space-between;
}

.skills h2 {
    font-size: 90px;
    text-align: center;
}

.skills-img {
    margin-left: 100px;
    position: relative;
}

.skills-img img {
    max-width: 400px;
}

#git {
    position: absolute;
    right: 50px;
}

.skills {
    position: relative;
}

#css {
    position: absolute;
    right: 300px;
    top: 70px;
}

#js {
    position: absolute;
    top: 160px;
    right: 370px;
}

#html {
    position: absolute;
    top: 200px;
    right: 80px;
}

#git span,
#css span,
#js span,
#html span {
    box-shadow: inset 0 -35px var(--hightlight-color);
}

.skill-set {
    display: none;
    color: var(--secondary-color);
}



/* THATS ME ICON WITH ARROW */

.arrow-text {
    position: absolute;
    top: 320px;
    right: -250px;
}

.arrow-text p {
    text-align: center;
    width: 170px;
}

.arrow-text .fa-regular.fa-face-smile {
    color: var(--secondary-color);
}

.icon-arrow {
    width: 70px;
    height: 2px;
    background-color: var(--secondary-color);
    position: relative;
    top: -2px;
    right: 30px;
    border-radius: 4px;
    transform: rotate(200deg)
}

.icon-arrow::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: var(--secondary-color);
    transform: rotate(-45deg);
    position: absolute;
    right: -3px;
    bottom: -5px;
}

.icon-arrow::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: var(--secondary-color);
    transform: rotate(45deg);
    position: absolute;
    right: -3px;
    bottom: 5px;
}

/* THE END - NOW STARTS THE @MEDIA FOR SKILLS */

@media (max-width: 1167px) {
    .skills h2 {
        font-size: 60px;
    }

    #css {
        top: 50px;
        right: 200px;
    }

    #js {
        top: 130px;
        right: 240px;
    }

    #html {
        top: 167px;
        right: 80px;
    }

    #git span,
    #css span,
    #js span,
    #html span {
        box-shadow: inset 0 -25px var(--hightlight-color);
    }
}

@media (max-width: 890px) {
    .skills-text {
        max-width: 800px;
    }

    .skills h2 {
        margin-right: 10px;
        font-size: 50px;
    }

    .skills-img img {
        width: 300px;
    }

    .skills-img {
        margin-left: 60px;
        width: 100%;
        display: flex;
    }

    #git span,
    #css span,
    #js span,
    #html span {
        box-shadow: inset 0 -18px var(--hightlight-color);
    }

    .arrow-text {
        position: absolute;
        top: 250px;
        right: 200px;
    }
}

@media (max-width: 725px) {
    .skills-container {
        justify-content: center;
        padding-top: 100px;
        padding: 50px 0px;
    }

    .skills-text {
        justify-content: center;
    }

    .skills-img {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        padding-left: 30px;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .skills-img img {
        width: 100%;
        max-height: 400px;
    }

    .skills {
        display: none;
    }

    .skill-set {
        display: block;
        font-family: RealTime;
    }

    .skill-set span {
        box-shadow: inset 0 -9px var(--hightlight-color);
    }

    .fa-solid.fa-arrow-right-long {
        font-size: 20px;
    }

    .arrow-text {
        position: static;
    }

    .icon-arrow {
        display: none;
    }
}

@media (max-width: 426px) {
    .arrow-text {
        top: 420px;
        right: 30px;
    }
}

@media (max-width: 413px) {
    .arrow-text {
        display: none;
    }
}



/* ----- PROJECTS I'VE WORKED ON ------- */
#projects-title h2 {
    font-size: 27px;
    text-align: center;
    padding-top: 50px;
}

.all-projects-container {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.project-container {
    width: min-content;
    border: solid 2px var(--hightlight-color);
    box-shadow: 7px 7px var(--hightlight-color);
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    margin-left: -7px;
}

.project-container>* {
    filter: grayscale(100%);
}

.project-container:hover>* {
    transform: scale(1);
    transition: 0.5s;
    filter: none;
}

.project-container:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.project-text-area {
    width: 300px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-info {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.project-container h2 {
    padding: 0px 20px 20px;
    font-size: 30px;
}

.project-img1 img {
    max-width: 300px;
}

.project-empty-space {
    width: 300px;
    background-color: var(--primary-color);
    height: 157px;
    border: solid var(--secondary-color) 2px;
}

.project-empty-space::before {
    content: "";
    display: inline-block;
    width: 340px;
    height: 2px;
    background-color: var(--secondary-color);
    transform: rotate(-27.5deg);
    position: absolute;
    right: -20px;
    top: 78px;
}

.project-empty-space::after {
    content: "";
    display: inline-block;
    width: 340px;
    height: 2px;
    background-color: var(--secondary-color);
    transform: rotate(27.5deg);
    position: absolute;
    right: -20px;
    top: 78px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    padding: 60px 0px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}


.swiper-button-prev:after,
.swiper-button-next:after {
    color: var(--hightlight-color);
    font-size: 20px !important;
}

.swiper-pagination-bullet {
    background-color: var(--hightlight-color) !important;
}

@media (min-width: 1026px) {
    #projects-title h2 {
        padding-top: 100px;
    }

    .swiper-button-next,
    .swiper-button-next:after,
    .swiper-button-prev,
    .swiper-button-prev:after {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }
}

@media (max-width: 725px) {
    #projects-title h2 {
        padding: 150px 30px 0px;
        font-size: 40px;
    }
}

@media (max-width: 590px) {
    #projects-title {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    #projects-title h2 {
        max-width: 400px;
    }
}

@media (max-width: 389px) {

    .swiper-button-next,
    .swiper-button-next:after,
    .swiper-button-prev,
    .swiper-button-prev:after {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }
}



/* --- GET IN CONTACT --- */

.contact-container {
    padding: 0px 60px;
    margin-top: 200px;
    margin-bottom: 100px;
    position: relative;
}

.contact-container p {
    font-size: 25px;
}

.contact-line {
    display: flex;
    flex-direction: row;
    justify-content: left
}

#question-mark {
    font-family: Source Code Pro;
    font-size: 60px;
}

.contact-line h2 {
    font-size: 60px;

}

#email {
    box-shadow: inset 0 -10px var(--hightlight-color);
    transition-duration: .5s;
}

.contact-social-media {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.contact-social-media p {
    margin: 0px;
    font-size: 25px;
}

.social-platforms {
    display: flex;
}

.social-platforms h3 {
    color: var(--secondary-color);
    margin-right: 20px;
    font-size: 35px;
}

.social-platforms h3:hover {
    box-shadow: inset 0 -13px var(--hightlight-color);
    transition-duration: .5s;
    cursor: pointer;
}

#laptop {
    font-size: 270px;
    -webkit-text-stroke: 15px var(--primary-color);
    color: var(--hightlight-color);
    position: absolute;
    right: 200px;
    top: 150px;
}

.coding-laptop p {
    width: 150px;
    height: auto;
    text-align: center;
}

@media (max-width: 1110px) {
    #laptop {
        top: 250px;
    }
}

@media (max-width: 896px) {
    #laptop {
        font-size: 230px;
        -webkit-text-stroke: 10px var(--primary-color);
        right: 70px;
    }
}

@media (max-width: 705px) {
    .contact-container {
        padding: 0px 30px;
    }

    .contact-container p {
        font-size: 20px;
    }

    #contact {
        font-size: 40px;
    }

    #question-mark {
        font-size: 40px;
    }

    #laptop {
        display: none;
    }

    .social-platforms h3 {
        margin: 15px 0px;
        margin-right: 20px;
        font-size: 30px;
    }
}

footer {
    padding: 10px;
    background-color: var(--hightlight-color);
}

footer p {
    margin: 0px;
    text-align: center;
    color: var(--primary-color);
    font-size: 15px;
}

footer span {
    color: var(--secondary-color);
    cursor: pointer;
}