@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

@font-face {
    font-family: 'Wedges';
    src: url(../fonts/Wedges.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

a {
    text-decoration: none;
}


/* AJUSTES DA IMAGEM DE FUNDO DA TELA */
.imagem-fundo {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.imagem-fundo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 80%;
}



/* LOGO E TITULO DO JOGO CHANTAL */
.logo-chantal {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    cursor: default;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    position: relative;
}

.titulo p {
    font-family: Wedges;
    font-size: 100px;
    -webkit-text-stroke: 20px #fff;
    letter-spacing: 4px;
}

.titulo-sem-borda {
    position: absolute;
}

.titulo-sem-borda span {
    font-family: Wedges;
    font-size: 100px;
}

/* BOTÃO DE JOGAR QUE LEVARÁ PARA A SELEÇÃO DE JOGOS */
.botao {
    width: fit-content;
    font-family: Wedges;
    font-size: 25px;
    color: #fff;
    padding: 3px 60px;
    border-radius: 7px;
    border-bottom: #59CD46 solid 5.5px;
    box-shadow: 0px 0px 0px 3px #fff;
    background: linear-gradient(45deg, #72F45D 50%, #62E94C 50%);
    cursor: pointer;
}

.botao:hover {
    transform: scale(1.05);
    transition-duration: 1s;
}

.disp-small {
    display: none;
}

@media screen and (max-width: 712px) {
    .logo-chantal {
        display: none;
    }

    .imagem-fundo {
        display: none;
    }

    .disp-small {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Wedges;
    }

    .title-small-device {
        display: flex;
    }

    .block1,
    .block2 {
        margin: 0px 10px;
        display: flex;
    }

    span {
        margin: 0px .7px;
        font-size: 40px;
    }
    
    p {
        margin: 10px 30px;
        -webkit-text-stroke: .4px #fff;
    }

    #sad-face {
        -webkit-text-stroke: .3px #FFAA2B;
        color: #FFAA2B;
        margin-top: 15px;
        margin-left: 13px;
        font-size: 30px;
    }
}

@media (max-width: 624px) {
    p {
        max-width: 450px;
    }
}