@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

@font-face {
    font-family: 'Wedges';
    src: url(../fonts/Wedges.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: Wedges;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

a {
    text-decoration: none;
}

/* AJUSTES DA IMAGEM DE FUNDO DA TELA */
.imagem-fundo {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.imagem-fundo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 80%;
}


/* START BUTTON */
.start {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.start-btn {
    position: relative;
}

/* AJUSTES DO CONTAINER DE PERGUNTAS E BOTÕES */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#question {
    position: absolute;
    top: 25%;
    font-size: 130px;
    color: #fff;
    -webkit-text-stroke: rgb(0, 0, 0) 7px;
    margin: 0px 20px;
}

.btn-grid {
    position: absolute;
    display: flex;
    top: 65%;
}

.btn {
    width: fit-content;
    font-size: 20px;
    color: #fff;
    padding: 10px 60px;
    margin: 30px;
    border-radius: 7px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #3DB7DE solid 5.5px;
    box-shadow: 0px 0px 0px 3px #fff;
    -webkit-text-stroke: #000 1.3px;
    background: linear-gradient(45deg, #79E4FF 50%, #5ad3fc 50%);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    transition-duration: .4s;
}

.btn.correct {
    border-bottom: #59CD46 solid 5.5px;
    background: linear-gradient(45deg, #72F45D 50%, #62E94C 50%);
}

.btn.wrong {
    border-bottom: #be2626 solid 5.5px;
    background: linear-gradient(45deg, #ff4242 50%, #ff2b2b 50%);
}

.controls {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* classe responsável por adicionar display none as tags desejadas */
.hide {
    display: none;
}


/* POP UP PROXIMO NIVEL */
#pop-up {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.back-cover {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 70%;

}

.pop-up-elements {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#pop-up-title {
    position: absolute;
    top: 18%;
    font-size: 27px;
    color: #fff;
    -webkit-text-stroke: .3px #000;
}

.pop-up img {
    position: relative;
    width: 80%;
    max-width: 400px;
}

.pop-up-buttons {
    position: absolute;
    display: flex;
    bottom: 15%;
}

.next-btn, .home-btn {
    font-size: 15px;
    padding: 7px 32px;
    -webkit-text-stroke: .8px #000;
    box-shadow: 0px 0px 0px 3px rgb(237, 237, 237);
}

.next-btn {
    margin-left: 10px;
    padding: 7px 40px;
}


/* POP UP DE REINICIAR O JOGO */
.restart.hidden {
    display: none;
}

.restart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.restart img {
    position: relative;
    max-width: 400px;
}

.restart-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    bottom: 10%;
}

#restart-p {
    height: 20px;
    align-items: flex-end;
    color: #000;
    -webkit-text-stroke: .3px #fff;
}

#restart-title {
    position: absolute;
    top: 18%;
    font-size: 27px;
    color: #fff;
    -webkit-text-stroke: .3px #000;
}

#restart-button {
    font-size: 15px;
    padding: 7px 20px;
    margin: 20px 0px 45px;
    -webkit-text-stroke: .8px #000;
    box-shadow: 0px 0px 0px 3px rgb(237, 237, 237);
    background: linear-gradient(45deg, #ffb65d 50%, #ffa536 50%);
    cursor: pointer;
    border-bottom: #dc8316 solid 5.5px;
}

.back-cover {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 70%;
}


/* BOTAO DE VOLTAR PARA A TELA INICIAL */
.voltar {
    position: absolute;
    top: 10%;
    left: 5%;
    padding: 6px 10px;
    border-radius: 50%;
    background-color: #FFEE57;
    border-bottom: #FFC90C solid 3px;
    box-shadow: 0px 0px 0px 4px #fff;
    cursor: pointer;
}

.voltar i {
    color: white;
    font-size: 30px;
}

.voltar:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 1s;
}
