@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

@font-face {
    font-family: 'Wedges';
    src: url(../fonts/Wedges.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: white;
    display: flex;
    position: relative;
}

a {
    text-decoration: none;
}

/* AJUSTES DA IMAGEM DE FUNDO DA TELA */
.imagem-fundo {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.imagem-fundo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 90%;
}


/* CONTAINER DA SELEÇÃO DE MINI JOGOS */
.jogos-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogos-container img {
    width: 100%;
    max-height: 256px;
}

.jogos-container p {
    font-family: Wedges;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: #000 1.3px;
    margin-top: 10px;
}

.jogo-memoria img {
    border-radius: 7px;
    border-bottom: #834ecd solid 5.5px;
    box-shadow: 0px 0px 0px 8px #fff;
    cursor: pointer;
}

.jogo-matematica img {
    border-radius: 7px;
    border-bottom: #e69634 solid 5.5px;
    box-shadow: 0px 0px 0px 8px #fff;
    cursor: pointer;
}

.jogo-matematica,
.jogo-memoria {
    margin: 0px 30px;
}

.jogo-memoria:hover,
.jogo-matematica:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: .5s;
}

/* BOTAO DE VOLTAR PARA A TELA INICIAL */
.voltar {
    position: absolute;
    top: 10%;
    left: 5%;
    padding: 6px 10px;
    border-radius: 50%;
    background-color: #FFEE57;
    border-bottom: #FFC90C solid 3px;
    box-shadow: 0px 0px 0px 4px #fff;
    cursor: pointer;
}

.voltar i {
    color: white;
    font-size: 30px;
}

.voltar:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.4s;
}